/* General text size and font */
/* Overwrite broswer default style */
p, span {
    margin: 0px;
    padding: 0px;
    font-family : "Times New Roman";
    font-size  : 16px;
}

ul {
    margin: 0px;
    font-size : 16px;
    font-family : "Times New Roman";
}

/*banner*/
/*banners contains three p */
section.banner {
    text-align: center;
}
section.banner > *{
    margin: 5px 0px;
}

/*content part*/
/*content contains several div.category*/
section.content{
    text-align: center;
}

/*big category*/
/*it contains i and text*/
.category > * {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

/*width of elements in category*/
/*so they can disply inline*/
i {
    width : 5%;
}

div.text{
    width: 85%;
    text-align: left;
}

/*inside the text section*/
/*text contains p.title and several entry*/
div.text > * {
    display: block;
}

/* each entry should cotain time and exp.*/
.entry > * {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px;
}

div.time {
    width: 15%;
}

div.exp{
    width: 75%;
}

/*make the title class bold*/
.title{
    font-weight: bold;
}
.text > .title {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

/*footer style*/
footer{
    border-top: double;
    margin-top: 200px;
    text-align: center;
}
code{
    vertical-align: bottom;
}

.summary {
    margin-bottom: 10px;
}
