:root {
	box-sizing : border-box;
}
*, ::before, ::after {
	box-sizing : inherit;
}
* {
	margin : 0px;
}
.title{
	font-weight:bold;
}

.banner {
	text-align : center;
}
.icon {
	margin : 0px;
	width : 10%;
	text-align : right;
	float: left;
}
.text {
	margin-left: 1em;
	width : calc(90% - 1em);
	float:left;
}
.text > .title {
	padding-bottom : 0.5em;
	border-bottom: 1px solid black;
}
.time {
	float : left;
	width : 20%;
	font-size : 1em;
}
.time p {
	margin : 0px;
	font-size : 1em;
	padding: 0.5em 0;
}
.exp{
	float : left;
	width : 80%;
	font-size : 1em;
	padding: 0.5em;
	padding-right : 20%;
}
.exp .summary {
	font-size : 1em;
	padding-bottom: 0.5em;
}
li {
	margin : 0.25em;
	line-height : 150%;
}