:root {
	box-sizing : border-box;
}
*, ::before, ::after {
	box-sizing : inherit;
}
* {
	margin : 0px;
}
.title{
	font-weight:bold;
}
.banner {
	text-align : center;
}
.icon {
	margin : 0px;
	width : 5%;
	text-align : right;
	float: left;
	padding: 0.5em;
}
.text {
	margin-left: 1em;
	width : calc(95% - 1em);
	float:left;
}
.title {
	padding-bottom: 0.5em;
}
.text > .title {
	border-bottom: 1px solid black;
}
.time {
	float : left;
	width : 20%;
	font-size : 1em;
}
p {
	margin : 0px;
	font-size : 1em;
	padding: 0.5em 0;
}
.exp{
	float : left;
	width : 80%;
	font-size : 1em;
	padding: 0.5em;
}
.exp .summary {
	font-size : 1em;
	padding-bottom: 0.5em;
	margin-top : 0;
}
ul *+* {
	margin-top: 0.3em;
}
.content {
	width : 100%;
	max-width : 1200px;
	margin : auto;
}

footer {
	clear : both;
	padding-top: 4em;
}
